html,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f3f3f3;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}


/* HEADER */
header {
	padding: 40px 0;
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: #000;
}

/* Grid */
.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}


/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 10%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}
