html,
body {
  height: 100%;
}

body {
  font-family: arial;
  background-image: url(/media/fondo.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}

.form-signin {
  width: 400px;
  max-width: 360px;
  background: white ;
  margin:auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px ;
  border-top: 4px solid #017bab;
  color: white;
}

.form-signin h3{
  font-family: arial;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  color: #000;
  
}

.form-signin img{
  width: 60px;
  margin: auto 150px;
  text-align: center;
  
}

.box {
  width: 90%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.boton {
  width: 96%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.form-signin input[type="submit"]:hover{
  text-decoration: underline;
}

